@model WebApplication2.Models.HEALTHDETAIL

@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GYM Managemnet System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .h1style {
            text-align: center;
            margin-top: 70px;
            margin-bottom: 30px;
            letter-spacing: 0.2cm;
        }

        .formmargin {
            margin-top: 5px;
        }

        hr.solid {
            border-top: 3px solid #bbb;
        }

        .h5margin {
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">GYM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            MEMBERS
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("MEMBERS", "Index", "MEMBERs", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li><a class="dropdown-item" href="#">MEMBER CREADENTIALS</a></li>
                            <li>@Html.ActionLink("EXPIRED MEMBERS", "Index", "EXPIREDMEMBERs", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li><hr class="dropdown-divider"></li>
                            <li>@Html.ActionLink("HEALTH DETAILS", "Index", "HEALTHDETAILs", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            MEMBERSHIPS
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("MEMBERSHIPS", "Index", "MEMBERSHIPs", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("EXPIRED MEMBERS", "Index", "EXPIREDMEMBERs", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li><hr class="dropdown-divider"></li>
                            <li>@Html.ActionLink("Membership Plans", "Index", "PACKAGEs", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("BOOKINGS", "Index", "BOOKINGs", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("ATTENDANCE", "Index", "ATTENDANCEs", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="h1style">UPDATE HEALTH DETAILS</h1>
        <h5>Health Details</h5>
        <hr class="solid">
        @using (Html.BeginForm(new { @class = "row g-3 formmargin" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.MEMBERSHIP_NO)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-4">
                <label for="inputPassword4" class="form-label">Disabilities</label>
                @Html.EditorFor(model => model.DISABILITIES, new { htmlAttributes = new { @class = "form-control", @id = "inputEmail4", @type = "text" } })
            </div>
            <div class="col-md-4">
                <label for="inputAddress" class="form-label">Height (Feet & Inch)</label>
                @Html.EditorFor(model => model.HEIGHT, new { htmlAttributes = new { @class = "form-control", @id = "inputEmail4", @type = "text" } })
            </div>
            <div class="col-md-2">
                <label for="inputCity" class="form-label">Weight (KG)</label>
                @Html.EditorFor(model => model.WEIGHT, new { htmlAttributes = new { @class = "form-control", @id = "inputEmail4", @type = "text" } })
            </div>

            <div class="col-12" style="margin-top: 50px;  margin-bottom:50px;">
                <button type="submit" class="btn btn-dark">UPDATE HEALTH DETAILS</button>
            </div>

        }
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

